<div id="choosePanel" class="collapse show multi-collapse">
    <h3 class="color-minsait text-center mb-3">{{titleChoose}}</h3>
    <p class="text-center">
        <button class="btn btn-danger btn-choose btn-lg" type="button" id="cancelChoose"><i class="bi bi-shield-x"></i> No</button>
        <button class="btn btn-minsait btn-choose btn-lg" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="{{idPanelPrincipal}} choosePanel"><i class="bi bi-shield-check"></i> Si</button>
    </p>
</div>