<div class="modal fade" id="confirm{{modal_id}}" tabindex="-1" aria-labelledby="confirmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmLabel">{{title_modal}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="bi bi-exclamation-circle-fill text-warning"></i> {{body_modal}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel{{modal_id}}">No, Cancelar</button>
                <button type="button" class="btn btn-minsait" id="saveIssue">Si, Generar</button>
            </div>
        </div>
    </div>
</div>
