<h1 class="bd-title mt-4 color-minsait"><i class="bi bi-journal-bookmark-fill"></i> Resumen</h1>
<div class="bd-example">    
    <div class="acordion mt-4" id="resumeAcordion">

    </div>
    <div class="col text-center mt-3 mb-3">
        <div class="form-check text-start fs-4 mb-3 color-minsait {{visibility_pull_request}}">
            <input class="form-check-input" type="checkbox" value="" id="pullRequestActive" checked>
            <label class="form-check-label" for="pullRequestActive">
                <i class="bi bi-bezier2"></i> Generar Pull Request
            </label>
        </div>
        <button type="button" class="btn btn-lg btn-minsait" data-bs-toggle="modal" data-bs-target="#confirm{{modal_id}}">{{button_modal_label}} <i class="bi bi-cloud-arrow-up-fill"></i></button>
    </div>
</div>