$enable-reduced-motion: false;
$background: #ffffff;
$outline-color: #03657c;
$outline-color-hover: #034f60;
$outline-color-hover2: #098eac;
$face-color: #e1f4f0;
$tongue-color: #f9bbbb;
$inner-bg: #cedbdd;
$font-color: #03657c;